@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

@model CalculatorModel;

<h6>Final Grade Calculator</h6>
<br />
<form method="post">
    <label for="assign">Assignments: </label>
    <input type="number" id="assign" asp-for="assign" />
    <br /><br />
    <label for="project">Group Projects: </label>
    <input type="number" id="project" asp-for="project" />
    <br /><br />
    <label for="quiz">Quizzes: </label>
    <input type="number" id="quiz" asp-for="quiz" />
    <br /><br />
    <label for="exam">Exams: </label>
    <input type="number" id="exam" asp-for="exam" />
    <br /><br />
    <label for="intex">INTEX: </label>
    <input type="text" id="intex" asp-for="intex" />
    <br /><br />
    <input id="calc" type="submit" value="Calculate Grade" />

    <div asp-validation-summary="All"></div>
</form>