@{
    ViewData["MyName"] = "Cami Morgan";
}

<h1>Cami Morgan</h1>
<br /><br />

<!--Image-->
<img style="width:200px;" class="center" src="~/img/IMG_4400.jpg" />

<br /><br />
<h6>What I hope to get out of IS 413:</h6>
<p>I am really excited to take IS 413, Enterprise Application Development. I didn't really know what this class was going to be. However, after learning about what this class will teach me, I am excited for what is to come. I'm eager to learn yet another coding language, and how to build more efficient websites. I hope that this class will challenge me. I really enjoy learning new things even if they are hard. The feeling of accomplishment at the end will be worth all the hard work that this class will require.</p>
<br /><br />
<h6>3 Jobs I am interested in:</h6>
<ol>
    <li>Data Scientist</li>
    <li>Project Manager</li>
    <li>Web Developer</li>
</ol>
    
